body {
  background-color: #efefef;
  background: url(/static/wood5.png);
  background-repeat: repeat-y;
  background-position: right top;
}

img {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
  border: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    color: black;
}

a {
  color: black;
}


p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.delete-button {
  width: 60px;
  height: 30px;
}

.form-control {
  width: 20%;
}

/* cite this website: https://24ways.org/2012/how-to-make-your-site-look-half-decent/ */
