body {
  background-color: #efefef;
  background: url(/static/dust_scratches.png) repeat 0 0;
}

.delete-button {
  width: 60px;
  height: 30px;
}

.form-control {
  width: 20%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}


/* cite this website: https://24ways.org/2012/how-to-make-your-site-look-half-decent/ */
