<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% include 'header.html' %}
<head>
  <title>{{author.last_name}}</title>
  <meta name=viewport content='width=device-width', initial-scale=1.0>
</head>

<body>
  {% block content %}
  <h2>Lit For Brains Presents</h2>
  <h1><a href="{{url_for('showAllAuthors')}}">The Great Books of the Western World</a></h1>
  <h2>Book Page</h2>
  <br><h2>{{author.last_name.title()}}</h2>
  <img src="{{author.photo}}" width="300" height="400">
  <br><p>Motto: {{author.bio}}</p>
  <h2>Book</h2>
  <h2>{{book.name}}</h2>
  <h3><a href="{{url_for('editBook', author = author.last_name, book = book.name)}}">Edit Book</a></h3>
  <h3><a href="{{url_for('deleteBook', author = author.last_name, book = book.name)}}">Delete Book</a></h3>
  <img src="{{book.image}}" width="300" height="400">
  <p>{{book.amazon}}</p>
  <p>{{book.description}}</p>
  {% endblock %}
</body>
</html>
