<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
  <head>
    {% block head %}
    {% include 'header.html' %}
    <title>Edit Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename ='styles.css') }}">
    <style>
    body {
      background-size: 810px;
    }
    </style>
    {% endblock %}
    {% endblock %}
  </head>

<body>
  {% block content %}
  <div class="container text-center">
    <h2>Edit Book</h2>
    <h2>{{book.name}}</h2>
    <h2>by {{theauthor.last_name}}</h2>
    <div class="row">
      <form action='{{url_for('editBook', author = theauthor.last_name, book = book.name)}}' method='post'>
        <h3>Name:</h3>
          <br><input type='text' name='name' size='30' value='{{book.name}}'><br>
        <h3>Author:</h3>
          <br><div class="dropdownauthor text-center">
            <select name='author' class="form-control center-block" id="sell">
              {% for authors in author %}
              {% if authors.user_id == session.user_id and authors.last_name != theauthor.last_name %}
              <option>{{authors.last_name}}</option>
              {% endif %}
              {% endfor %}
              <option selected>{{theauthor.last_name}}</option>
            </select>
          </div>
        <h3>Image URL:</h3>
          <br><input type='text' name='image' size='50' value='{{book.image}}'><br>
        <h3>Amazon Link:</h3>
          <br><input type='text' name='amazon' size='50' value='{{book.amazon}}'><br>
        <h3>Description:</h3>
          <br><input type='text' name='description' size='100' value='{{book.description}}'><br>
        <br><input type='submit' value='Edit'>
      </form>
    </div>
    <br><a href="{{url_for('showBook', author = theauthor.last_name, book = book.name)}}">Return to Book Page</a>
  </div>
  {% endblock %}
</body>
</html>
