<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% include 'header.html' %}
<head>
  <title>Edit {{author.last_name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('.static', filename ='styles.css') }}">
  {% endblock %}
</head>

<body>
  {% block content %}
  <h2>Edit Author</h2>
  <br>
  <form action='{{url_for('editAuthor', author = author.last_name)}}' method='post'>
    <span><h3>Last Name:</h3></span>
    <br><input type='text' size='30' name='authorname' value='{{author.last_name}}'>
    <span><h3>Bio:</h3></span>
    <br><input type='text' size='50' name='bio' value='{{author.bio}}'>
    <span><h3>Image URL:</h3></span>
    <br><input type='text' size='50' name='picture' value='{{author.photo}}'>
    <br><input type='submit' class='button' value='Edit'>
  </form>
  <p><a href="{{url_for('showAuthor', author = author.last_name)}}">Back to Author Page</a></p>
  {% endblock %}
</body>
</html>
