<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
  <head>
    {% block head %}
    {% include 'header.html' %}
    <title>The Great Books of the Western World - Lit For Brains</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
    {% endblock %}
    {% endblock %}
  </head>

<body>
  {% block content %}
  <div class="container text-center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class="flashes">
      {% for message in messages %}
      <h3 class="blue">{{message}}</h3><br>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="container">
  {% for author in authors %}
  <div class="row text-center center-block">
    <div class="col-md-4">
        <a href="{{url_for('showAuthor', author = author.last_name)}}">
          <img src="{{author.photo}}" width="300" height="400" alt="Author Image"></a><br>
          <h3>{{author.last_name.title()}}</h3><br><br>
    </div>
  {% endfor %}
  </div>
    <div class="row">
      <h3><a href="{{url_for('newAuthor')}}">Add Author</a></h3>
    </div>
  </div>
  {% endblock %}
</body>
</html>
