<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
<head>
  <title>The Great Books of the Western World - Lit For Brains</title>
  <meta name=viewport content="width=device-width, initial-scale=1.0">
</head>

<body>
  {% block content %}
  <h2>Lit For Brains Presents</h2>
  <h1><a href="{{url_for('showAllAuthors')}}">The Great Books of the Western World</a></h1>
  <br><h2>Main Page</h2>
  <h3><a href="{{url_for('newAuthor')}}">Add Author</a></h3>
  {% for author in authors %}
  <a href="{{url_for('showAuthor', author = author.last_name)}}">
    <img src="{{author.photo}}" width="300" height="400"></a>
  <br>{{author.last_name.title()}}
  <br>{{author.bio}}<br><br>
  {% endfor %}
  {% endblock %}
</body>
</html>
