<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% include 'header.html' %}
<head>
  <title>The Great Books of the Western World - Lit For Brains</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
  {% endblock %}
</head>

<body>
  {% block content %}
  <br><h2>Main Page</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class="flashes">
      {% for message in messages %}
      <center><h3 class="blue">{{message}}</h3></center>
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

  <h3><a href="{{url_for('newAuthor')}}">Add Author</a></h3>
  <div class="container">
  {% for author in authors %}
  <div class="row text-center center-block">
    <div class="col-md-4">
        <a href="{{url_for('showAuthor', author = author.last_name)}}">
          <img src="{{author.photo}}" width="300" height="400"></a><br>
          <h3>{{author.last_name.title()}}</h3><br><br>
    </div>

  {% endfor %}
  </div>
  {% endblock %}
</body>
</html>
