<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% include 'header.html' %}
<head>
  <title>{{author.last_name}}</title>
  <meta name=viewport content='width=device-width', initial-scale=1.0>
</head>

<body>
  {% block content %}
  <br><h2>{{author.last_name.title()}}</h2>
  <img src="{{author.photo}}" width="300" height="400">
  <br><p>Motto: {{author.bio}}</p>
  <h2>Books</h2>
  {% for book in books %}
  <h2>{{book.name}}</h2>
  <a href="{{url_for('showBook', author = author.last_name, book = book.name)}}">
    <img src="{{book.image}}" width="300" height="400"></a>
  {% endfor %}
  {% endblock %}
</body>
</html>
